<MudDialog OnBackdropClick="CloseDialog" DefaultFocus="DefaultFocus.Element" DisableSidePadding="true">

    <DialogContent>

        <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="mx-0 my-0">

            <span Style="display:block; font-size:var(--mud-typography-default-size);">
                @Model.Url
            </span>

            <MudTooltip Text="Добавить план обмена">
                <MudIconButton Icon="@Icons.Material.Filled.CreateNewFolder" Color="Color.Success" Size="Size.Large" OnClick="SelectExchange" />
            </MudTooltip>

            <MudTooltip Text="Удалить виртуальный хост RabbitMQ">
                <img src="/img/rabbit-delete.jpg" style="width:48px; height:48px;vertical-align:middle;cursor:pointer" @onclick="ConfigureRabbitMQ" />
            </MudTooltip>

            <MudTooltip Text="Тюнинг планов обмена">
                <MudIconButton Icon="@Icons.Material.Outlined.SettingsSuggest" Color="Color.Primary" Size="Size.Large" OnClick="ExchangeTuning" />
            </MudTooltip>

            <MudTooltip Text="Отмена">
                <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Dark" Size="Size.Large" OnClick="CloseDialog" />
            </MudTooltip>

        </MudContainer>

    </DialogContent>

</MudDialog>