<MudDialog OnBackdropClick="CloseDialog" DefaultFocus="DefaultFocus.Element" DisableSidePadding="true">

    <DialogContent>

        <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="mx-0 my-0">

            <span Style="display:block; font-size:var(--mud-typography-default-size);">
                @Model.Url
            </span>

            <MudTooltip Text="Добавить правила обмена данными">
                <MudIconButton Icon="@Icons.Material.Filled.CreateNewFolder" Color="Color.Success" Size="Size.Large" OnClick="SelectExchange" />
            </MudTooltip>

            <MudTooltip Text="Отмена">
                <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Dark" Size="Size.Large" OnClick="CloseDialog" />
            </MudTooltip>

        </MudContainer>

    </DialogContent>

</MudDialog>