@using DaJet.Studio.Controllers

@inject IJSRuntime JSRuntime;
@inject MdTreeViewController MdTreeViewController;

<dialog id="infobase-context-menu" class="dajet-context-menu">

    <div>
        <span class="dajet-context-menu-close-button" onclick="CloseInfoBaseContextMenu()">✕</span>
        <span class="dajet-context-menu-title">@Title</span>
    </div>

    <ul>
        <li>
            <img src="/img/settings.png" alt="" class="dajet-context-menu-item-icon" />
            <span class="dajet-context-menu-item" @onclick="OpenInfoBaseSettingsPage">Свойства подключения</span>
        </li>
        <li>
            <img src="/img/refresh.png" alt="" class="dajet-context-menu-item-icon" />
            <span class="dajet-context-menu-item" @onclick="ClearInfoBaseMetadataCache">Очистить кэш метаданных</span>
        </li>
        <li>
            <img src="/img/database-test.png" alt="" class="dajet-context-menu-item-icon" />
            <span class="dajet-context-menu-item" @onclick="OpenMetadataDiagnosticPage">Диагностика DaJet &lt;-&gt; СУБД</span>
        </li>
        <li>
            <img src="/img/database-view.png" alt="" class="dajet-context-menu-item-icon" />
            <span class="dajet-context-menu-item" @onclick="OpenDbViewGeneratorPage">Генератор представлений СУБД</span>
        </li>
    </ul>

</dialog>