#app {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

.app-layout {
    display: grid;
    gap: 1px;
    width: 100%;
    height: 100%;
    padding: 1px;
    align-self: stretch;
    justify-self: stretch;
    border: 1px solid black;
    grid-template:
        "app-header app-header app-header app-header app-header" 30px
        "app-lpanel app-rpanel app-rpanel app-rpanel app-rpanel" auto
        "app-footer app-footer app-footer app-footer app-footer" 30px / 1fr 1fr 1fr 1fr 1fr;
}

.app-header {
    display: grid;
    grid-area: app-header;
    justify-self: stretch;
    align-content: center;
    justify-content: start;
    border: 1px solid black;
}

.app-lpanel {
    display: grid;
    overflow: scroll;
    grid-area: app-lpanel;
    align-self: stretch;
    justify-self: stretch;
    align-content: stretch;
    border: 1px solid black;
    resize: horizontal;
    width: 20vw;
    min-width: 20vw;
    max-width: 50vw;
}

.app-rpanel {
    display: grid;
    overflow: scroll;
    grid-area: app-rpanel;
    align-self: stretch;
    justify-self: stretch;
    align-content: start;
    border: 1px solid black;
}

.app-footer {
    display: grid;
    grid-area: app-footer;
    justify-self: stretch;
    align-content: center;
    justify-content: start;
    border: 1px solid black;
}