.script-editor-layout {
    display: grid;
    gap: 1px;
    padding: 1px;
    border: 1px solid black;
    align-content: start;
    height: calc(100vh - 60px);
    grid-template:
        "script-editor-action" min-content
        "script-editor-script"
        "script-editor-result" / 1fr;
}

.script-editor-action {
    display: grid;
    grid-area: script-editor-action;
}

.script-editor-script {
    display: grid;
    grid-area: script-editor-script;
    height: 50vh;
    min-height: 20vh;
    max-height: 75vh;
    resize: vertical;
    overflow: hidden;
    border: 1px solid black;
}

.script-editor-result {
    display: grid;
    grid-area: script-editor-result;
    overflow: scroll;
    white-space: nowrap;
    border: 1px solid black;
}

.script-editor-button {
    cursor: pointer;
    margin-left: 5px;
    min-width: 75px;
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.script-editor-close-button {
    cursor: pointer;
    border: none;
    background: none;
}