@inherits LayoutComponentBase

@inject AppState AppState;

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@*https://mudblazor.com/docs/overview*@

<div class="app-layout">
    <div class="app-header">
        <MudToolBar Dense="true" DisableGutters="true" Class="px-3">
            <MudTooltip Text="Обновить">
                <MudIconButton Icon="@Icons.Material.Outlined.Refresh" Size="Size.Small" OnClick="AppState.RefreshMainTreeView" />
            </MudTooltip>
            <MudTooltip Text="Добавить базу данных">
                <MudIconButton Icon="@Icons.Material.Outlined.Add" Size="Size.Small" OnClick="RegisterInfoBase" />
            </MudTooltip>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Size="Size.Small" Href="https://github.com/zhichkin/dajet" />
        </MudToolBar>
    </div>
    <div class="app-lpanel">
        <MainTreeView />
    </div>
    <div class="app-rpanel">
        @Body
    </div>
    <div class="app-footer">
        <MudText Typo="Typo.body2" Class="ml-2">@FooterText</MudText>
    </div>
</div>