@using DaJet.Studio.Components.DataTable;

@page "/flow/table/{uuid:guid?}"

@inject IDomainModel DomainModel;
@inject DaJetHttpClient DataSource;
@inject NavigationManager Navigator;

<div style="margin:5px;overflow:scroll;">

    <DataTable DataRows="Pipelines" class="table table-bordered" RowClass='(row, index) => row.IsNew() ? "table-success" : ""'>
        <DataColumn TDataRow="PipelineRecord">@context.Name</DataColumn>
        <DataColumn TDataRow="PipelineRecord"><a href="/edit/@context.Identity">edit</a></DataColumn>
    </DataTable>

</div>