@inject HttpClient Http;
@inject AppState AppState;

<div>
    <MudTextField Label="Фильтр" Variant="Variant.Outlined" Margin="Margin.Dense" T="string"
                  HelperText="Поиск по текущей базе данных" HelperTextOnFocus="true" Clearable="true"
                  Class="ml-2 mt-2" Style="font-size:var(--mud-typography-default-size);"
                  ValueChanged="FilterTreeView" />
</div>

<TreeView Nodes="Nodes" />