/*body {
    margin: 0;
    padding: 0;
}*/

.container {
    display: grid;
    gap: 5px;
    height: 100%;
    align-self: stretch;
    justify-self: stretch;
    grid-template-rows: 30px auto 30px;
    grid-template-columns: 250px auto;
    grid-template-areas:
        "header header"
        "lpanel rpanel"
        "footer footer";
    border: solid;
    border-color: black;
    border-width: 1px;
}
.header {
    display: grid;
    grid-area: header;
    justify-self: stretch;
    align-content: center;
    justify-content: start;
    border: solid;
    border-color: black;
    border-width: 1px;
}
.lpanel {
    display: grid;
    overflow: scroll;
    grid-area: lpanel;
    align-self: stretch;
    justify-self: stretch;
    border: solid;
    border-color: black;
    border-width: 1px;
}
.rpanel {
    display: grid;
    grid-area: rpanel;
    align-self: stretch;
    justify-self: stretch;
    border: solid;
    border-color: black;
    border-width: 1px;
    align-content: start;
}
.footer {
    display: grid;
    grid-area: footer;
    justify-self: stretch;
    align-content: center;
    justify-content: start;
    border: solid;
    border-color: black;
    border-width: 1px;
}

ul, #myUL {
    list-style-type: none;
}

 /*Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}