#metadata-view-tabs, #metadata-view-tabs-title { /* элементы с id=tabs и id=tabs-title */
    padding: 0px; /* Нет отступов внутри тега */
    margin: 0px; /* Нет отступов снаружи тега */
    clear: both; /* С новой строки */
    /*width: 370px;*/ /* Ширина 367 пикселей */
    border: 1px solid #000; /* С черной рамкой в 1 пиксель */
}

.metadata-view-tab-title { /* Элементы с class=tab-title */
    cursor: pointer; /* Курсор в виде пальца */
    background: #AAA; /* Фон темно-серый */
    margin-right: 10px; /* Справа от элемента отступ в 10 пикселей */
    padding: 0 5px; /* Внутри элемента отступы справа и слева в 5 пикселей */
    list-style: none; /* Убираем точки у li */
    float: left; /* Делаем так что бы li располагались горизонтально */
}

.metadata-view-tab { /* Элементы с class=tab */
    padding: 10px; /* Внутренний отступ в 10 пикселей */
    display: none; /* Не показываем */
    background: #CCC; /* Светло-серый фон */
    text-align: justify; /* Выравниваем текст по ширине элемента */
}

.selected { /* Элементы с class=selected */
    display: block; /* Показываем элемент */
}

.selected-li, #metadata-view-tabs-title li:hover { /* Элементы с class=selected-li и при наведении на тег li внутри элемента с id=tabs-title */
    background: #CCC; /* Светло-серый фон */
}

#metadata-view-tabs-title { /* Элементы с id=tabs-title */
    background: #AAA; /* Фон темно-серый */
    height: 20px; /* Высота 20 пикселей */
}